<?xml version='1.0' encoding='utf-8'?>
<widget id="com.thebridgeschool.portal" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>The Bridge School</name>
    <description>The Bridge School mobile portal.</description>
    <author>The Bridge School</author>
    <content src="index.html" />
    <access origin="https://thebridgeschoolproject-production.up.railway.app" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-navigation href="https://localhost/*" />
    <preference name="AndroidInsecureFileModeEnabled" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <icon src="bridgeicon.png" />
    <platform name="android">

        <preference
            name="AndroidWindowSplashScreenAnimatedIcon"
            value="bridgecircle.png" />

        <preference
            name="AndroidWindowSplashScreenBackground"
            value="#FFFFFF" />

    </platform>
</widget>
